@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

:root {
    --primary-color: #E3E7F2;
    --secondary-color: #616C94;
    --accent1-color: #E3655B;
    --accent2-color: #FED99B;

    --heading-font: Cinzel, serif;
    --paragraph-font: Verdana, Helvetica, sans-serif;

    --headline-color-on-white: #1a2025;  /* headlines on a white background */ 
    --headline-color-on-color: #616C94; /* headlines on a colored background */ 
    --paragraph-color-on-white: #040669; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #616C94; /* paragraph text on a colored background */ 
    --paragraph-background-color: #FED99B  ;
    --nav-link-color: #5091C7;
    --nav-background-color: #E3E7F2;
    --nav-hover-link-color: rgb(255, 255, 255);
    --nav-hover-background-color: #5091C7;
}
* {
    max-width: 900px;
    margin: 5px auto;
}
.logo {
    width: 180px;
}
h1, h2 {
    color: #E3655B;
    font-family: Cinzel, serif;
    padding: 10px; margin: auto; text-align: center;
}
p {
    font-family: Verdana, Helvetica, sans-serif;
    color:#040669; padding: 1rem; margin: auto;
}
header {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center; background-color: #E3E7F2; border: 1px solid gray;
}
nav {
    display: flex; justify-content: space-evenly; align-items: center; 
    background-color: #5091C7;
    padding: 5px; font-weight:bold; width:80%; opacity: 0.8;
}
nav a {
    color: white; text-decoration: none; padding:10px; font-family: Cinzel, Helvetica, sans-serif;
}
a:hover {
    background-color: azure; color:blue;
}
.hero {
    position: relative;
}
.hero h1 {
    position: absolute; top: 40px; left: 0; right: 0;
    color: white; text-align: center; background-color: #5091C7;
    opacity: 0.7; padding: 0.6rem; border: 1px;
}
.hero article{
    position: absolute; top: 50%; left:10px; right: 10px;
    background-color: #FED99B; opacity: 0.8;
    justify-content: center; 
}
.hero img {
    display: block;
    width: 100%;
    height: auto; max-height: 500px; 
}
.hero article img {
    float: right; opacity: 1;
    width: 200px; padding: 10px; margin: auto; 
}
.history {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 50px 1fr;
    padding: 10px; border: 1px solid gray; margin-bottom: 20px;
    background-color: #E3E7F2;
}
.history h2{
    grid-column: 1/4;
    grid-row: 1/2; 
}
.history img{ 
    grid-column: 2/3;
    grid-row: 2/3; align-self: center;
}
.adventure {
    display: grid; background-color: #E3E7F2;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr;
    padding: 10px; border: 1px solid gray; margin-bottom: 20px;
}
.adventure h2 {
    grid-column: 1/6;
    grid-row: 1/2; 
}
.adventure img {
    grid-column: 1/6;
    grid-row: 2/3;
    display:flex;
    width:150px; height: 160px; 
}
figure {
    border: 2px solid #FED99B;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
figure:hover {
    opacity: .6;
    transform: scale(1.1);
}
figcaption {
    background-color: gray;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 1px;
    text-align: center; width:100%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 240px; width: 100%;
    background-color: #E3E7F2; border: 1px solid gray;
}
.sociallinks {
    display: flex; justify-content: center;
    background-color: #E3E7F2;
    padding: 1px; width:100%; opacity: 0.8; max-height: 50px;
}
.sociallinks a {
    padding: 1px;background-color: #E3E7F2; border:none;
}
.sociallinks img {
    width: 40px; max-height: 40px;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 220px 300px 1fr;
}
.info{
    grid-area: 1/1/2/3;/* row/column/row/column */ height: 220px;
    align-items: start;
}
.info h1, .info h3, .info p { align-content: start;}
.map {
    grid-area: 1/3/2/5; border-radius: .5rem;
    width: 100%; align-self: center; height: 220px;
}
iframe {
    width: 100%; align-self: center; max-height: 220px;
}
.employee {
    grid-area: 2/1/3/5;
    display: flex; justify-content: space-around; align-items: center;
}
.employee figure {
    border: 2px solid #FED99B;
    padding: 5px;
    max-width: 300px;
    margin: 5px;
}
.employee figure img{
    width: 260px;
}
.form {
    grid-area: 3/1/4/5; width: 80%;
    margin: 0 auto; padding: 1rem; border: 1px solid gray;
    border-radius: .5rem;
    background-color: #E3E7F2;
    display: grid;
}
fieldset{
    display: grid; width: 100%;
    grid-gap: .5rem; margin: 0; border: 1px solid steelblue;
    padding: .25rem;
}
label, input, button, select, textarea {
    font-family: Verdana, Tahoma, sans-serif;
    color: black;
}
label {
    text-align: right; padding-right: 1rem;
}
input, select, textarea {
    font-size: 16px;padding: .5rem; 
}
button{
    margin: 1rem; width: 90%;
    background-color: azure; color:#616C94; border-radius: .5rem; padding: .75rem; font-size: 1.2rem;
}
button:hover {
    opacity: .7;
    transform: scale(1.1);
    background-color: darkgreen; color:aliceblue;
}