@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

:root {
    --primary-color: #E3E7F2;
    --secondary-color: #616C94;
    --accent1-color: #E3655B;
    --accent2-color: #FED99B;

    --heading-font: Cinzel, serif;
    --paragraph-font: Verdana, Helvetica, sans-serif;

    --headline-color-on-white: #1a2025;  /* headlines on a white background */ 
    --headline-color-on-color: #616C94; /* headlines on a colored background */ 
    --paragraph-color-on-white: #040669; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #616C94; /* paragraph text on a colored background */ 
    --paragraph-background-color: #FED99B  ;
    --nav-link-color: #5091C7;
    --nav-background-color: #E3E7F2;
    --nav-hover-link-color: rgb(255, 255, 255);
    --nav-hover-background-color: #5091C7;
}
* {
    max-width: 900px;
    margin: 0 auto;
}
.logo {
    width: 200px;
}
h1, h2 {
    color: #E3655B;
    font-family: Cinzel, serif;
    padding: 10px; margin: auto;
}
p {
    font-family: Verdana, Helvetica, sans-serif;
    color:#040669; padding: 1rem; margin: auto;
}
footer a {
    text-decoration: none;      
}
nav a {
    text-decoration: none;color: #1a2025; font-weight: bold;
}
.hero {
    position: relative;
}
.hero h1 {
    position: absolute; top: 40px; left: 0; right: 0;
    color: white; text-align: center; background-color: #5091C7;
    opacity: 0.7; padding: 0.6rem; border: 1px;
}
.hero article{
    position: absolute; top: 50%; left:10px; right: 10px;
    background-color: #FED99B; opacity: 0.85;
    justify-content: center; 
}
.hero img {
    display: block;
    width: 100%;
    height: auto; 
}
.hero article img {
    float: right; opacity: 1;
    width: 200px; padding: 10px; margin: auto;
}
section {
    height: auto;
}
footer nav img {
    width: 50px;
}
