@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 600px;
    align-content: center;
}
body {
    font-family: Cinzel, Helvetica, sans-serif;
    font-weight: bold; 
}
header {
    margin: 0 auto;
    width: 600px;
}
h1 {
    font-family: Cinzel;
    font-weight: bold; text-align: center; color:#616C94;
}
form {
    width: 600px;
    margin: 0 auto; padding: .5rem; border: 1px solid gray;
    border-radius: .5rem;
    background-color: lightyellow;
    display: grid;
    font-weight: 200;
}
label, input, button, select, textarea {
    font-family: Verdana, Tahoma, sans-serif;
    color: #777; width:90%; align-items: center;
}
label {
    text-align: left; padding-right: .5rem; font-size: 15px; margin-bottom: 1rem;
}
input, select, textarea {
    font-size: 15px; padding: 1rem;
}
button{
    margin: .4rem; align-items: center;
    background-color: azure; color:#616C94; border-radius: .5rem; padding: .5rem; font-size: 1.5rem;
}
button:hover {
    opacity: .7;
    transform: scale(1.1);
    background-color: blue; color:aliceblue;
}
footer{
    margin: 1rem auto;
    width: 600px; text-align: center;font-size: .8em; color: #777 ;border-top: 1px solid darkgray;
}
.text {
    align-items: center; text-align: center; background-color: dimgrey; border: 1px solid black;
    padding: 1rem; margin: 1px;
    color:white; font-family: 'Times New Roman', Times, serif; font-size: small; width: 80%;
}