* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 15px;
    font-family: cinzel, Arial, sans-serif;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding:20px;
}
h1{
    color:steelblue
}
p {
    margin: 1rem;
}
main img {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border: 1px;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}
aside img {
    width: 250px;
    height:auto;
}
aside h3 {
    position: absolute;
    top: 15px;
    left: 100px;
    color: rgb(18, 18, 19);
}
p {
    padding: 0;
}
footer {
    margin-top: 1em;
    border-top: 1px solid gray;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1.2rem;
    padding: 1.2rem;
    border:1px rgba(0, 0, 0, .1);
    background-color: rgb(204, 245, 245);
    color: #000;
    text-align: left;
}
